<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/user.css">
    <title>User</title>
</head>
<body>
<form method="post">
    <main>
        <h1> Coloque seu Nome para inciar</h1>
        <div class="d-flex">
            <div class="m-auto">
                <div class="input-group">
                    <input required="" type="text" name="Name" autocomplete="off" class="input">
                    <label class="user-label">Seu Nome</label>
                    <button type="submit" class="button">INICIAR</button>
                    <img src="/assets/img/McDonalds-Logo-2006_presente-removebg-preview.png" alt="" class="logo-img">
                </div>
            </div>
        </div>
    </main>
</form>
<img src="/assets/img/McDonalds-Logo-2006_presente-removebg-preview.png" alt="" class="logo-img-cell">

</body>

</html>